# Programa Ingenias+ Data Science

## ‚úèÔ∏è Ejercitaci√≥n: Aprendizaje No Supervisado

Esta notebook les permitiria ejercitar los conceptos de aprendizaje automatico no supervisado que hemos aprendimos.

En este caso, vamos a trabajar con el dataset que usamos anteriormente relativos a [clientes de un centro comercial](https://www.kaggle.com/akram24/mall-customers) y que luego de procesar, guardamos oportunamente.

El objetivo de este proyecto es ajustar modelos de aprendizaje no supervisado. Luego, realicen la evaluaci√≥n de los modelos y decidan porque elegirian uno sobre el otro.

In [18]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

#ignorar warning para que quede mejor el notebook
import warnings
warnings.filterwarnings('ignore')

In [19]:

import os

directorio_actual = os.getcwd()
df = pd.read_csv(os.path.join(directorio_actual, 'Mall_Customers.csv'), low_memory=False)

In [20]:
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

### üöÄ üë©üèΩ‚Äçüíª Aprendizaje No Supervisado üì£

## Clustering: Kmeans üß©

Si a√∫n no lo hicieron, pueden realizar una exploraci√≥n de los datos para poder visualizar la distribuci√≥n de las variables y la correlaci√≥n entre ellas.

Esto es porque para poder aplicar K-means, los datos deben cumplir ciertos requerimientos:

- **Forma de los clusters**: La varianza de la distribuci√≥n es esferica. Lo que significa que los clusters tienen una forma esferica. Lo que significa que si las variables tienen varianzas similares y siguen una distribuci√≥n normal, es m√°s factible que este supuesto se cumpla.
- **Tama√±o de los clusters**: Todos los clusters deben tener el mismo numero (o muy similar) de observaciones
- **Relaci√≥n entre las variables**: Existe poca o ninguna correlaci√≥n entre las variables.

#### Crea tres modelos usando k=2, k=6, k=9

¬øCrees que el resultado es satisfactorio?

#### Metodos para elegir K

Aplica los m√©todos que conoces y elige el k que mejor se ajusta a los datos.

#### Ajusta el modelo usando el K seleccionado

#### Gr√°fica el resultado

### Reducci√≥n de la dimensionalidad

Prueba ahora reduciendo la dimensionalidad y ajustando K-means nuevamente.

## Clustering: DBSCAN üß©

¬øY si comparamos con ajustar un modelo de DBSCAN?

¬øQu√© opinan? ¬øQu√© modelo arrojo mejores resultados de clustering?